<form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-4 p-2">
      <label for="genreUUID">Genre UUID:</label>
      <input
        id="genreUUID"
        name="genreUUID"
        [(ngModel)]="genreUUID"
        placeholder="Enter genre UUID"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-4 p-2">
      <label for="genreName">Genre Name:</label>
      <input
        id="genreName"
        name="genreName"
        [(ngModel)]="genreName"
        required
        placeholder="Enter genre name"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-2 p-2">
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </div>
    <div class="col-2 p-2">
      <button type="button" (click)="form.reset()">Reset</button>
    </div>
  </div>
</form>
